---
import { Icon } from 'astro-icon';
---

<section class="bg-blue-50 dark:bg-slate-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium flex justify-center items-center">
    <a
      class="block"
      href="https://www.producthunt.com/posts/resume-matcher?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-resume-matcher"
      target="_blank"
    >
      <img
        src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=401261&theme=neutral"
        alt="Resume Matcher - Free and Open-Source Tool to Create Tailored Resume | Product Hunt"
        style="width: 250px; height: 54px;"
        width="250"
        height="54"
      />
    </a>
  </div>
</section>
